<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./app/Configs/Bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
>
    <testsuites>
        <testsuite name="Meus Testes de Exemplo">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
